    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                <ul class="list-inline social-buttons">
                    <li><a href="https://www.facebook.com/selfpower.ro/" title="Facebook Asociatia Selfpower ONG"><i class="fa fa-facebook"></i></a>
                    </li>
                    <!-- <li><a href="http://ro.linkedin.com/pub/cristina-elena-ginghina/98/8a0/7a8/en" title="LinkedIn Cristina Ginghina"><i class="fa fa-linkedin"></i></a>
                    </li> -->
                    <li><a href="https://www.instagram.com/selfpower_ong" title="Instagram Asociatia Selfpower ONG"><i class="fa fa-instagram"></i></a>
                    </li>
                    <!-- <li><a href="https://twitter.com/ElenaGinghina" title="Twitter Cristina Ginghina"><i class="fa fa-twitter"></i></a>
                    </li> -->
                </ul>
                <!--/.social-bar-->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p><small>Copyright &copy; Asociația Selfpower, 2015 - <script>document.write(new Date().getFullYear())</script></small></p>
                    <small><a href="{% url 'confidentialitate' %}">Politica de confidențialitate</a></small>
                    <p><small><i><sub>un proiect <a href="https://avproiect.com">avproiect.com</a></sub></i></small></p>
                </div>
            </div>
        </div>
    </footer>
