{% extends 'base.html' %}

{% block metatags %}
    <meta name="description" content="Despre Noi si Despre Selfpower comunitatea de consiliere si dezvoltare personala. Psiholog Consilier Profesor">
    <meta name="keywords" content="Selfpower, Despre, Noi">
    <meta property="og:title" content="Despre - Selfpower Consiliere, Educatie si Dezvoltare Personala" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.selfpower.ro/about" />
    <meta property="og:description" content="Despre Noi si Despre Selfpower, comunitatea de consiliere si dezvoltare personala. Psiholog Consilier Profesor" />
    <meta property="og:image" content="https://www.selfpower.ro/static/img/ParkGreenxs.jpg" />
    <meta property="og:image:secure_url" content="https://www.selfpower.ro/static/img/ParkGreenxs.jpg" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="717" />
    <meta property="og:image:height" content="403" />
{% endblock metatags %}
{% block title %} Despre Noi - Selfpower Consiliere, Educatie si Dezvoltare Personala{% endblock title %}


{% load static %}

{% block body %} <body id="hub"> {% endblock body %}


{% block content %} 
  
    <div class="container">



        <div class="row">
            <div class="box">

                {% if not isSFA %}
                    <div class="col-lg-10 col-lg-offset-1 text-center">
                        <img src="{% static "img/construction.png" %}" alt="Blog Image" class="img-responsive center-block">
                    </div>
                {% endif %}

                
            </div>
        </div>

        
    </div>
    <!-- /.container -->

{% endblock content %}
