         <div class="modal fade" id="prizePopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
                Mesaj important!
            </h4>
        </div>
        <div class="modal-body">
            Selfpower este o organizație neguvernamentală ce activează pe diferite direcții de dezvoltare.  Dacă dorești, acordă un moment pentru a vedea modurile în care poți susține proiectele noastre. 
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Mai târziu</button>
            <a href="../doilasuta" style="padding: 10px 15px;
   background: red;
   color: white; border-radius: 5px; text-decoration: none;">Vreau sa susțin!</a>
      </div>
        </div>
    </div>
</div>