{% extends 'base.html' %}

{% block body %} <body id="profile"> {% endblock body %}

{% block content %}
 <div class="container">
	<div class="row">
        <div class="box">
			  

            <h3>Schimbă parola</h3>

			  <p>Introdu adresa ta de email mai jos, și noi îți vom trimite imediat instrucțiunile de urmat</p>

			  <form method="POST">
			    {% csrf_token %}
			    {{ form.as_p }}
			    <input type="submit" value="Send me instructions!" class="btn btn-primary">
			  </form>
			</div>


	    </div>
	</div>
</div>
{% endblock %}

