
{% extends 'base.html' %}

{% block body %} <body id="profile"> {% endblock body %}

{% block content %}
    {% if validlink %}
        


<div class="container">
  <div class="signup-form">
    <div class="main2-div">
        
            
        <h3>Setează o nouă parolă.</h3>

        {% if form.errors %}
              <font size="3" color="red">{{ form.errors }}</font>  
        {% endif %}


        <form method="post" id=""> {% csrf_token %}
            

            <div class="form-group">
                  <input type="password" class="form-control" id="title" placeholder="Introdu parola" name="new_password1">
            </div>

            <div class="form-group">
                  <input type="password" class="form-control" id="title" placeholder="Confirmă parola de mai sus" name="new_password2">
            </div>

            <input type="submit" value="Setează" class="btn btn-primary">
        </form>


      </div>
  </div>
</div>

        


    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
{% endblock %}